openapi: 3.2.0
info:
  title: Parcel Perform Couriers API
  description: Parcel Perform aggregates real-time tracking data across hundreds of carriers into one standardized event model, then layers shipment management, returns, outgoing webhooks, and delivery-experience analytics on top.
  version: 5.2.0
  contact:
    name: Parcel Perform
    url: https://www.parcelperform.com
  termsOfService: https://www.parcelperform.com/terms-of-service
servers:
- url: https://api.parcelperform.com/v5
  description: Parcel Perform production API (v5)
security:
- bearerAuth: []
tags:
- name: Couriers
  description: Carrier/courier reference data. Entirely MODELED - no public reference page found.
paths:
  /courier:
    get:
      operationId: listCouriers
      tags:
      - Couriers
      summary: List supported couriers/carriers (MODELED - not found in public reference)
      description: Illustrative list of the courier/carrier network Parcel Perform tracks against (reported between roughly 900 and 1,000+ carriers worldwide per Parcel Perform's marketing pages). No standalone `/courier` endpoint is documented in the public API Guides & Reference as of this review; carrier codes otherwise only appear as a field on Shipment resources. Entirely modeled.
      responses:
        '200':
          description: Supported couriers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Courier'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /courier/{courier_code}:
    parameters:
    - name: courier_code
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getCourier
      tags:
      - Couriers
      summary: Retrieve a courier/carrier (MODELED - not found in public reference)
      description: Entirely modeled - see summary on the list operation.
      responses:
        '200':
          description: The requested courier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Courier'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        status:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              field:
                type: string
    Courier:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        country:
          type: string
        service_types:
          type: array
          items:
            type: string
  responses:
    Unauthorized:
      description: Missing, invalid, or expired Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer access token obtained from POST /auth/oauth/token/, valid for 3600 seconds (60 minutes) per indexed integration guides. Passed as `Authorization: Bearer YOUR_ACCESS_TOKEN`.'
